.drag-drop-files {
  height: 250px;
  width: 100%;
  border: dashed 2px #007bff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .input-file {
    /* visibility: hidden; */
    margin: auto;
  }

  label {
    text-align: center;
  }

  .upload-button {
    margin: auto;
  }
}
